html, body
  min-height: 100vh

body
  display: flex
  flex-direction: column

.main-wrapper
  flex-grow: 1
  display: flex
  > nav
    width: 280px
    min-width: 280px
    background-color: $brown
  > main
    flex-grow: 1
    padding: 2rem 2rem 4rem

.nav-menu
  padding-left: 0
  li a
    display: block
    width: 100%
    padding: 1rem
    text-decoration: none
    font-weight: bold
    color: rgba($white, .8)
    +link-action
      color: lighten($primary, 10%)
      background-color: rgba($black, .2)
    &.active
      color: lighten($primary, 10%)
      background-color: rgba($black, .2)
    svg
      @extend .mr-1

.breadcrumbs
  margin-bottom: 3rem
  color: $gray
  font-size: $font-size-xs
  font-weight: bold
  &__separator
    color: $gray-light
    margin: 0 .48rem
    &:before
      content: ">"
      display: inline-block
      transform: scale(.4, .8)

.page-title
  font-size: $h2-font-size
  margin-bottom: 1.6rem
.btn-area
  margin-bottom: 1.6rem

.table-th-min
  th
    @extend .text-nowrap
    width: 1px
.table-th-25
  th
    width: 25%
.table-th-33
  th
    width: 33%

.icon
  @extend .rounded
  a &
    transition: border-radius $animation-duration ease-in-out
    +link-action
      border-radius: 50% !important
  &--default
    @extend .icon
    width: 128px
    height: 128px
  &--thumb
    @extend .icon
    width: 64px
    height: 64px
