// ========== Layout ==========
html, body
  min-height: 100vh

body
  display: flex
  flex-direction: column

.main-wrapper
  $nav-width: 280px
  flex-grow: 1
  display: flex
  > nav
    width: $nav-width
    min-width: $nav-width
    background-color: $brown
  > main
    flex-grow: 1
    max-width: calc(100% - #{$nav-width})
    padding: 2rem 2rem 4rem

.nav-menu
  padding-left: 0
  li a
    display: block
    width: 100%
    padding: 1rem
    text-decoration: none
    font-weight: bold
    color: rgba($white, .8)
    +link-action
      color: lighten($primary, 10%)
      background-color: rgba($black, .2)
    &.active
      color: lighten($primary, 10%)
      background-color: rgba($black, .2)
    svg
      @extend .mr-1

.page-title
  font-size: $h2-font-size
  margin-bottom: 1.6rem
.btn-area
  margin-bottom: 1.6rem
.page-sub-title
  font-size: $h3-font-size
  margin-bottom: 1.2rem
