body
  font-weight: 400
  min-height: 100vh

small
  font-weight: inherit

i
  font-style: normal

input
  &:-webkit-autofill // Chromeのオートコンプリート対策
    transition: background-color 50000s linear 50000s
::placeholder
  color: $gray-light !important

ul
  padding-left: 18px

section + section
  margin-top: 2rem

mark
  background-color: $yellow

.btn
  border-radius: 100px
  padding-left: .8rem
  padding-right: .8rem
  &:not(.btn-block)
    white-space: nowrap // Safari でラベルが改行されてしまう問題の対処
  &-primary:not(.disabled)
    color: $white !important
  &-outline-primary:not(.disabled)
    &:hover, &:active
      color: $white !important
  &-warning:not(.disabled)
    color: $white !important
    &:hover, &:active
      color: $white !important
  &-outline-warning:not(.disabled)
    &:hover, &:active
      color: $white !important

.badge
  vertical-align: middle
  &-warning
    color: $white

.list-inline-item
  white-space: nowrap

.navbar
  min-height: 54px
  padding: 0.5rem 1rem
  +media-breakpoint-down(md)
    .dropdown-menu
      display: block

.nav-tabs
  .active
    font-weight: bold

.custom-checkbox
  input, label
    cursor: pointer

.form-group
  margin-bottom: 1.2rem
  & + input[type="submit"], & + button[type="submit"]
    margin-top: 1.2rem

.field_with_errors
  label, + .form-text
    @extend .text-danger
  input, select
    @extend .is-invalid

.table
  th
    background-color: $gray-lighter
  &.table-bordered
    border: 2px solid $gray-light

+media-breakpoint-down(xl)
  .container
    max-width: 1000px

.custom-file-label
  &-reverse
    @extend .text-truncate
    padding-left: 8.4rem
    &:after
      left: 0
      right: auto
      border-right: inherit
      border-radius: .25rem 0 0 .25rem
      border-left: none
