- breadcrumb :admin_works
%h1.page-title= t('admin.page_title.index', model: Work.model_name.human)
.btn-area
  = link_to new_admin_work_path, class: 'btn btn-primary' do
    %i.fa.fa-plus.fa-fw
    = t('admin.btn.new')
= render 'table', works: @works
